/* 
此项目约定：
1.样式都通过ID去限定
2.尽可能多使用子代选择器
3.

*/

// 定义变量
@mainColor: #F75B23;


/* 扩展样式，生成Bootstrapcss按钮样式 */

.btn-yhh:hover,
.btn-yhh:focus,
.btn-yhh:active,
.btn-yhh.active,
.open .dropdown-toggle.btn-yhh {
    color: #ffffff;
    background-color: @mainColor;
    border-color: @mainColor;
}

.btn-yhh:active,
.btn-yhh.active,
.open .dropdown-toggle.btn-yhh {
    background-image: none;
}

.btn-yhh.disabled,
.btn-yhh[disabled],
fieldset[disabled] .btn-yhh,
.btn-yhh.disabled:hover,
.btn-yhh[disabled]:hover,
fieldset[disabled] .btn-yhh:hover,
.btn-yhh.disabled:focus,
.btn-yhh[disabled]:focus,
fieldset[disabled] .btn-yhh:focus,
.btn-yhh.disabled:active,
.btn-yhh[disabled]:active,
fieldset[disabled] .btn-yhh:active,
.btn-yhh.disabled.active,
.btn-yhh[disabled].active,
fieldset[disabled] .btn-yhh.active {
    background-color: @mainColor;
    border-color: @mainColor;
}

.btn-yhh .badge {
    color: @mainColor;
    background-color: #ffffff;
}


/* 公共样式 */

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@font-face {
    font-family: 'weijinsuo';
    src: url('../fonts/MiFie-Web-Font.eot?6cyhth');
    src: url('../fonts/MiFie-Web-Font.eot?6cyhth#iefix') format('embedded-opentype'), url('../fonts/MiFie-Web-Font.svg?6cyhth#MiFie-Web-Font') format('svg'), url('../fonts/MiFie-Web-Font.ttf?6cyhth') format('truetype'), url('../fonts/MiFie-Web-Font.woff?6cyhth') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: weijinsuo;
    font-style: normal;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-icon::before {
    content: "\e920";
}

.icon-logo::before {
    content: "\e93e";
}


/* a {
    text-decoration: none;
} */


/* header */

header {
    height: 120px;
    background-color: #f0f0f0;
}

header>.topbar {
    height: 40px;
    border-bottom: 1px solid #cccccc;
    line-height: 40px;
}

header>.topbar>.container>.row>div {
    height: 40px;
    font-size: 12px;
    color: #888888;
}


/* div+div  */

header>.topbar>.container>.row>div+div {
    border-left: 1px solid #cccccc;
}

header .mobile-link {
    font-size: 12px;
    color: #888888;
}

header .mobile-link:hover {
    text-decoration: none;
}

header .mobile-link:link {
    TEXT-DECORATION: none
}

header .mobile-link img {
    display: none;
    z-index: 1001;
}

header .mobile-link:hover img {
    display: block;
    position: absolute;
    top: 28px;
    left: 20px;
}

header .icon-icon {
    font-size: 50px;
    color: @mainColor;
    line-height: 50px;
    vertical-align: middle;
}

header .icon-logo {
    font-size: 36px;
    color: #000000;
    line-height: 50px;
    vertical-align: middle;
}

header a {
    font-size: 12px;
    color: #888888;
}

header .problems:link,
:visited,
:hover {
    text-decoration: none;
    color: #888888;
}

.navbar-itcast {
    background-color: #fff;
    border-color: #f5f5f5;
    top: 0;
    width: 100%;
}

.navbar-itcast .navbar-brand {
    color: #777;
    height: 80px;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav>li>a {
    color: #777;
    line-height: 48px;
    font-size: 14px;
}

.navbar-itcast .navbar-nav>li>a:hover,
.navbar-itcast .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid @mainColor;
}

.navbar-itcast .navbar-nav>.active>a,
.navbar-itcast .navbar-nav>.active>a:hover,
.navbar-itcast .navbar-nav>.active>a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid @mainColor;
}

.navbar-itcast .navbar-nav>.disabled>a,
.navbar-itcast .navbar-nav>.disabled>a:hover,
.navbar-itcast .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav>.open>a,
.navbar-itcast .navbar-nav>.open>a:hover,
.navbar-itcast .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-itcast .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}

header>.topbar>.container {
    height: 40px;
    background-color: skyblue;
}

header .container .login {
    display: block;
    height: 25px;
    width: 45px;
}

.btn-yhh {
    color: #ffffff;
    background-color: @mainColor;
    border-color: @mainColor;
}


/* 广告轮播 */

#main_ad {}

#main_ad>.carousel-inner>.item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#main_ad>.carousel-inner>.item>img {
    width: 100%;
}


/* 可以通过媒体查询的方式控制 */

@media (min-width: 768px) {
    #main_ad>.carousel-inner>.item {
        height: 410px;
    }
}


/* 特色介绍 */

#special {
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}

.icon-uniE907:before {
    content: "\e907";
}

#special i {
    font-size: 34px;
}

#special>.container>.row>div {
    height: 50px;
}

#special>.container>.row>div {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* 立即预约 */

#appoint {
    padding: 15px 0;
    font-size: 20px;
    border-bottom: 1px solid #c0c0c0;
}

#appoint p {
    font-size: 16px;
    line-height: 20px;
}

#appoint a,
span {
    color: red;
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}


/* 产品推荐 */

#products {
    background-color: #f0f0f0;
    padding: 40px 0;
}


/* #products>.container {
    background-color: skyblue;
} */


/* 这样写PC上也会始终有横向滚动条 */


/* #products>.container>.ul-wapper {
    overflow-x: scroll;
} */

#products>.container .nav-tabs {
    padding-left: 20px;
}

#products>.container .nav-tabs>li {}

#products>.container .nav-tabs>li>a {
    color: #000;
    font-size: 16px;
}

#products>.container .nav-tabs>li>a:hover {
    border-color: transparent;
}

#products>.container .nav-tabs>li.active {}

#products>.container .nav-tabs>li.active>a {
    background-color: transparent;
    border: 0px;
    border-bottom: 4px solid red;
}

#products>.container>.tab-content {
    padding: 20px 0px;
}

.panel-yhh {
    border-radius: 0;
    box-shadow: 1px 1px 5px #ccc;
}

.panel-yhh.active {
    background-color: @mainColor;
    color: #fff;
}

.panel-yhh.active::before {
    content: "\e915";
    font-family: weijinsuo;
    font-size: 40px;
    position: absolute;
    top: -9px;
    left: 16px;
}

.panel-yhh.disabled {
    background-color: #e0e0e0;
}

.panel-yhh>.panel-heading {
    /* color: #333; */
    /* background-color: #f5f5f5; */
    /* border-color: #ddd; */
    float: right;
    width: 120px;
    padding-top: 30px;
    height: 150px;
    text-align: center;
    border-left: 1px dashed #c0c0c0;
    position: relative;
    /* line-height: 150px; */
}

.panel-yhh>.panel-heading>.tooltips {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15px;
    left: -5px;
}

.panel-yhh>.panel-heading>p>strong {
    font-size: 30px;
}

.panel-yhh.active>.panel-heading>p>span {
    color: #fff;
}

.panel-yhh>.panel-heading::before,
.panel-yhh>.panel-heading::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;
}

.panel-yhh>.panel-heading::before {
    top: -8px;
    left: -8px;
}

.panel-yhh>.panel-heading::after {
    bottom: -8px;
    left: -8px;
    box-shadow: 0px 2px 1px #ccc inset;
}

.panel-yhh>.panel-body {
    margin-right: 120px;
    height: 150px;
}

.panel-yhh>.panel-body>h5 {
    font-size: 22px;
}

.panel-yhh>.panel-body>.row p {
    margin-bottom: 0px;
}

.panel-yhh>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}

.panel-yhh>.panel-heading .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    background-color: transparent;
    text-align: center;
    padding: 0 0;
    line-height: 20px;
}

.panel-yhh>.panel-heading .badge-one {
    border-color: red;
    color: red;
}

.panel-yhh>.panel-heading .badge-two {
    border-color: green;
    color: green;
}


/* 新闻列表 */

#news {
    padding-top: 50px;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 100px;
}

#news .news-title {
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px dashed #c0c0c0;
}

#news .news-title::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    position: absolute;
    bottom: -4px;
    right: 5px;
}

.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}

@media (max-width: 768px) {
    #news .nav-stacked>li {
        float: left;
        margin-right: 50px;
    }
}


/* 合作伙伴 */

#partners {
    padding: 30px 0;
}


/* #partners h3 {
    text-align: center;
} */

#partners ul {
    padding: 0;
    /* width: 998px; */
    /* position: relative;
    overflow: hidden; */
}

#partners ul li {
    float: left;
    list-style: none;
    padding: 10px;
}

#partners ul li a {
    padding: 10px 20px;
}

#partners ul li+li {
    border-left: 1px dashed #c0c0c0;
}

#partners i {
    font-size: 70px;
}

.icon-uniE930:hover {
    color: #df3232;
}

.icon-uniE930:before {
    content: "\e946";
}

.icon-uniE92F:hover {
    color: #e8380d;
}

.icon-uniE92F:before {
    content: "\e92f";
}

.icon-uniE92E:hover {
    color: #ed6f00;
}

.icon-uniE92E:before {
    content: "\e92e";
}

.icon-uniE92A:hover {
    color: #159f69;
}

.icon-uniE92A:before {
    content: "\e92a";
}

.icon-uniE929:hover {
    color: #07569e;
}

.icon-uniE929:before {
    content: "\e929";
}

.icon-uniE931:hover {
    color: #004098;
}

.icon-uniE931:before {
    content: "\e931";
}

.icon-uniE92C:hover {
    color: #d32019;
}

.icon-uniE92C:before {
    content: "\e92c";
}

.icon-uniE92B:hover {
    color: #3eac4a;
}

.icon-uniE92B:before {
    content: "\e92b";
}

.icon-uniE92D:hover {
    color: #2bb289;
}

.icon-uniE92D:before {
    content: "\e92d";
}


/* 测试样式 */

section {
    background-color: #fff;
}


/* nth-child(2n+1):父元素下第几个元素，n从0开始；所以在这里有header，奇数变偶数 */


/* section:nth-child(2n+1) {
    background-color: pink;
} */


/*  脚注  */

footer {
    height: 200px;
}