/* 
此项目约定：
1.样式都通过ID去限定
2.尽可能多使用子代选择器
3.

*/

// 定义变量
@mainColor: #F75B23;
@width:200px;

body {
    background-color: pink;
}
.container {
    width: 1000px;
    background-color: #ff0;

    .row {
        height: 200px;
        
        div {
            border-left: 1px solid @mainColor;

          >  a{
                color: red;
// &相当于this
                &:hover{
                    color: green;
                }
            }
        }
    }
}