<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue-2.4.0.js"></script>
    <script src="lib/vue-resource-1.3.4.js"></script>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7.css">

</head>

<body>

    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <!-- <label for="">
                        ID:
                        <input type="text" v-model="id">
                    </label> -->
                <label for="">
                        Name:                        
                        <input type="text" v-model="name" class="form-control">
                    </label>
                <label for="">
                        
                        <input type="button" value="添加" @click='add' class="btn btn-primary">
                    </label>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>

                </tr>
            </thead>
            <tbody>
                <tr v-for='item in list' :key="item.id">
                    <td> {{item.id}} </td>
                    <td> {{item.name}} </td>
                    <td> {{item.ctime}} </td>
                    <td> <a href="javascript:;" @click.prevent='del(item.id)'>删除</a> </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        // 可以统一用一个网站，不用重复写
        Vue.http.options.root = 'http://liulongbin.top:3005';
        Vue.http.options.emulateJSON = true;
        var vm = new Vue({
            el: '#app',

            data: {
                name: '',
                list: [{
                    id: 1,
                    name: '奥迪',
                    ctime: new Date(),
                }, {
                    id: 2,
                    name: '奥拓',
                    ctime: new Date(),
                }]
            },
            methods: {
                add() {
                    // 添加品牌
                    // 分析
                    // 1.听过查看数据API接口，
                    // 2.this.$http.post('url',)三个参数：URL；提交到服务器的数据（对象的形式）；
                    // 配置对象，要以哪种表单数据类型提交过去（{emulateJSON：true}），以普通表单格式，将数据提交到服务器application/x-www-form-urlencoded
                    // 3.在POST方法中，使用.then来设置成功的回调函数，如果想要拿到成功的结果，需用到result.body
                    this.$http.post('api/addproduct', {
                        name: this.name
                    }, {
                        emulateJSON: true
                    }).then(result => {
                        if (result.body.status === 0) {
                            // 把最新的数据获取到页面
                            this.getAllList();
                        } else {
                            console.log(result.body.status);
                            alert('添加失败');
                        }
                    });
                },
                getAllList() {
                    // 获取所有的品牌列表
                    // 分析：
                    // 1.已经导入vue-resource包，可以直接通过this.$http来发起数据请求
                    // 2.根据API文档，知道请求方式是get
                    // 3.this.$http.get().then(function(result){})
                    // 4.通过then中的回调函数，拿到服务器返回的result
                    // 5.先判断result.status是否为0，是，则成功，把message赋值给this.list；否则，弹出提示失败
                    this.$http.get('api/getprodlist').then(result => {
                        // 通过$http获取到的数据，都在result.body中
                        console.log(result);
                        var result = result.body;
                        if (result.status === 0) {
                            this.list = result.message;
                        } else {
                            alert('失败');
                        }
                    });
                },
                del(id) {
                    // 删除品牌
                    console.log(id);
                    // url前面的/要去掉
                    this.$http.get('api/delproduct/' + id).then(result => {
                        if (result.body.status === 0) {
                            console.log(0);
                            console.log(result.body);
                            this.getAllList();
                        } else {
                            console.log(1);
                            alert('删除失败');
                        }
                    });
                }

            },
            created() {
                this.getAllList();
            }
        });
    </script>
</body>

</html>